body {
    background-color: black;
    font-family: monospace;
    color: white;
}

.logo {
    margin: none;

}

.header {
    display: inline-flex;
    color: white;
    font-size: 36px;
    
}

h2 {
    text-align: center;
    font-size: 35px;
}

h1 {
    text-align: center;
}
p {
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
}